@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
  --blue:#5FABE2;
}

body{
  margin:0;
  background-color: #fafafa;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#searchBar{
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  width: 450px;
  padding: 6px 12px;
  background-color: white;
  margin: 20px;
}

#searchBar > *{
  /* background-color: pink; */
}

#emailInput{
  font-size: 30px;
  flex-grow:1;
  border: none;
}

#searchIcon{
  font-size: 30px;
  color: var(--blue);
  cursor: pointer;
  transition: transform .15s;
}

#searchIcon:hover{
  transform: scale(1.2);
}

#emailInput:focus{
  outline: none;
}

h1{
  font-size: 64px;
  font-weight: 500;
}

.search{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.search > h1, .search > p{
  margin: 10px;
}



.fw300{font-weight: 300;}
.fw400{font-weight: 400;}
.fw500{font-weight: 500;}

.fs20{font-size: 20px;}
.fs24{font-size: 24px;}
.fs30{font-size: 30px;}

.color-blue{color:var(--blue);}

.ul-blue{
  border-bottom: 2px solid var(--blue);
}



.results{
  margin-top: 80px;
}

.results .fs30{
  margin: 8px 0;
}

.results .fs20{
  margin:0;
  padding:6px 12px;
  border-left: 3px solid var(--blue);
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px;
  position: fixed;
  width: 100%;
}

header a{
  margin: 5px 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color .15s, transform .15s;
}

header a:hover{
  transform: scale(1.1);
}

header .selected{
  color: var(--blue);
}